:root{
    --color_1: #d0f776;
}


html, body{
    font-size: 100%;
	background:	#fff;
	font-family:'Open Sans', sans-serif;
    margin:0;
	padding:0;
    height: min-content;

}
p{
	margin:0;
	font-size:14px;
}

ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}

#img-cont{
    background-color: var(--color_1);
    height: fit-content;
    padding: 1vh;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    border-bottom: rgb(194, 191, 191) solid 1px;
}

#img-cont img{
    /* width: 10vw; */
    height: 6vh;
}

#img-cont h2{
    padding: 2vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;

}

.navbar{
    background-color: #fff;
    padding: 0vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border-bottom: rgb(194, 191, 191) solid 1px;
}

.navbar .nav{
    width: 90%;
    margin: auto auto;
    padding: 1vw;
    display: flex;
    flex-flow: column;
    justify-content: center;
    list-style: none;
}

.navbar .nav li{
    padding: 1vw;
   text-align: center;
   margin: 1.5vw;
   border-left: #d0f776 5px solid;
   /* border-bottom: #ccc 1px solid; */
}
.navbar .nav li a{
    font-size: 3vh;
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}


/* FOOTER //////////////////////////////*/
#linea{
    width: 100%;
    height: 1vh;
    background-color: var(--color_1); 
}

 #footer{   
    width: 100%;
    height: fit-content;
    background-color: black;
    margin-bottom: 2vh;
}

#footer #footer-titulo{ 
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

#footer #footer-titulo h4{
    color: var(--color_1);
    font-size: 5vw;
    padding: 2vw;
    margin: auto 1vw;
    text-align: center;
}

#footer #footer-titulo #img img{
    width: 10vw;
    height: 10vw;
    padding: 2vw;
    color: var(--color_1);
    filter: invert();
}

#footer #social-link ul{
    display: flex;
    flex-flow: row;
    justify-content: center;
    list-style: none;
    
}

#footer #social-link ul li a{
    text-decoration: none;
    padding: 1.5vw;
    margin: 1vw;
    /* border-radius: 50%; */
    /* border: rgb(255, 255, 255) 2px solid; */
    font-size: 8vw;
    color: rgb(255, 255, 255);
}

#footer #footer-links{
    padding: 2vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer #footer-links a{
    text-align: center;
    padding: 1vh;
    text-decoration: none;
    color: darkgrey;
}


#footer-fijo{
    width: 100%;
    background-color: black;
}
#footer-fijo p{
    margin-right: 1vw;
    padding: 1vw;
    width: 100%;
    text-align: center;
    font-weight: 200;
    color: var(--color_1);
    position: fixed;
    background-color: black;
    bottom: 0;
}


 

 